mixin field-check(id, label)
  .field-check
    label(for=id) #{label}
    input(type='checkbox', id=id)
    block

mixin field-text(id, label)
  .field-text
    label(for=id) #{label}
    input(type='text', id=id)
    block

mixin help
  span.help.closed
    span.closed
      |  [
      span.help-btn explain
      |] 
    span.open
      |  [
      span.help-btn hide
      |] 
      .help-text
        block

html
  head
    title Fishing line experiment calculator
    link(rel='stylesheet', href='app.css')
    script(src='lib-3p/ASCIIMathML.js')
    script(src='lib-3p/zepto.min.js')
    script(src='lib-3p/query-string.js')
body
  :md
    # Fishing Line Experiment Calculator
    To view this page properly please use a browser that supports
    [MathML](https://www.w3.org/Math/) such as Firefox.
    The source code is freely [available on GitHub.com](https://github.com/dizzib/flx-calc).
  fieldset
    legend Line properties at zero tension `T_0`
    +field-text('l_s', 'sample length `l_s` = ')
      | m. The length of line used to calculate the line density 
    +field-text('m_s', 'sample mass `m_s` = ')
      | g.
    +field-text('d', 'diameter `d` = ')
      | mm.
    +field-text('nu', 'Poisson ratio `nu` = ')
      | . This determines how much the diameter changes when tension is applied.
  fieldset
    legend Apparatus setup
    +field-text('x', 'pole span `x` = ')
      | m. The distance between the two poles (the depth meters at each end).
    +field-text('l_o', 'outer line length `l_o` = ')
      | m.
      +help
        | The line length from the anchor to pole A plus the unstretched line length
        | from pole B to an indicator on the line.
    +field-check('nb', 'Calibrate the water density to make the line neutrally buoyant?')
    +field-text('rho_w', 'water density `rho_w` = ')
      | kg/`m^3`. This is a function of temperature [
      a(href="http://www.csgnetwork.com/waterinformation.html") table
      | ].
  fieldset
    legend Measurements at maximum tension `T_max`
    +field-text('T_max', 'line tension `T_max` = ')
      | N
    +field-text('dl', 'line stretch `Delta l` = ')
      | m. How far the indicator moves when `T_max` is applied.
    +field-text('uy', 'water/line level reading uncertainty `+-deltay` = ')
      | mm.
      +help
        | If a ruler has 1mm gradations, a skillful experimenter 
        a(href='https://youtu.be/uZ0ILIG_l7w') should be able to estimate
        |  to within &plusmn; 0.1mm.
        | However, this figure is somewhat subjective and may increase with
        | difficulties such as parallax, lack of magnification, the clarity/focus of
        | the water/line, whether the ruler is part obscured, etc.
  fieldset
    legend Calculated conditions at line's midpoint
    .out
      label line sag = 
      span.bold#sag
      |  mm
    .out
      label water height difference due to earth's curvature `Delta h` = &plusmn; 
      span.bold#dh
      |  mm
    .out
      label predicted difference in depth `DeltaY_(pred)` of concave = 
      span#dY_concave
      |  mm, flat = 
      span#dY_flat
      |  mm, convex = 
      span#dY_convex
      |  mm
    .out
      label standard deviation control `sigma_c` = 
      span#sigma_c
      |  mm.
      +help
        | A threshold beyond which the line is deemed to fluctuate significantly
        | over time due to random error.
        | In a set of observed `DeltaY` having `sigma < sigma_c` every `DeltaY`
        | will be closest to one and only one `DeltaY_(pred)` -- this is good!
        | If `sigma > sigma_c` then some of the observed `DeltaY` may be
        | closer to a neighbouring `DeltaY_(pred)` -- this isn't so good.
    .out
      label standard deviation of measurement uncertainty `sigma_u` = 
      span#sigma_u
      |  mm = 
      span.bold#sigma_u-perc
      |  % of `sigma_c`.
      +help
        | The expected amount of variation caused by water/line level measurement
        | errors in a set of observed `DeltaY`.
        | The % indicates if there's enough measurement precision to allow
        | for other errors and should be kept low, either by increasing the pole
        | span `x` or decreasing the measurement uncertainty `deltay`.
        | A value < 50% graciously allows for errors from other sources -- this is good!
        | A value > 100% leaves no room for other errors -- this is bad.
  fieldset
    legend Calculated line properties
    .out
      label `T_0` density = 
      span#rho_l
      |  kg/`m^3`.
    .out
      label `T_max` density = 
      span#rho_lT
      |  kg/`m^3`.
    .out
      label diameter change `Delta d` = 
      span#dd
      |  mm [
      a(href="https://en.wikipedia.org/wiki/Poisson's_ratio#Width_change") equation
      | ]
    .out
      label Young's modulus `E` = 
      span#E
      |  GPa [
      a(href="http://physicsnet.co.uk/a-level-physics-as-a2/materials/young-modulus/") equation
      | ]

  script(src='calc.js')
  script(src='app.js')
