mixin field-check(id, label)
  .field-check
    label(for=id) #{label}
    input(type='checkbox', id=id)
    block

mixin field-text(id, label)
  .field-text
    label(for=id) #{label}
    input(type='text', id=id)
    block

html
  head
    title Fishing line experiment calculator
    link(rel='stylesheet', href='app.css')
    script(src='lib-3p/ASCIIMathML.js')
    script(src='lib-3p/zepto.min.js')
    script(src='lib-3p/query-string.js')
body
  :md
    # Fishing Line Experiment Calculator
    To view this page properly please use a browser that supports
    [MathML](https://www.w3.org/Math/) such as Firefox.
    The source code is freely [available on GitHub.com](https://github.com/dizzib/flx-calc).
  fieldset
    legend Line properties at zero tension `T_0`
    +field-text('l_s', 'sample length `l_s` = ')
      span m. The length of line used to calculate the line density 
    +field-text('m_s', 'sample mass `m_s` = ')
      span g.
    +field-text('d', 'diameter `d` = ')
      span mm.
    +field-text('nu', 'Poisson ratio `nu` = ')
      span . This determines how much the diameter changes when tension is applied.
  fieldset
    legend Apparatus dimensions
    +field-text('x', 'pole span `x` = ')
      span m. The distance between the two poles (the depth meters at each end).
    +field-text('l_o', 'outer line length `l_o` = ')
      span m. The line length from the anchor to pole A plus the unstretched line length
      span  from pole B to an indicator on the line.
  fieldset
    legend Measurements at maximum tension `T_max`
    +field-text('T_max', 'line tension `T_max` = ')
      span N
    +field-text('dl', 'line stretch `Delta l` = ')
      span m. How far the indicator moves when `T_max` is applied.
    +field-check('nb', 'Calibrate the water density to make the line neutrally buoyant?')
    +field-text('rho_w', 'water density `rho_w` = ')
      span kg per `m^3`. 
      span This is a function of temperature.
  fieldset
    legend Calculations
    b.out
      label sag at centre `y` =  
      span#y
      span  mm
    .out
      label `T_0` line density =  
      span#rho_l
      span  kg per `m^3`.
    .out
      label `T_max` line density =  
      span#rho_lT
      span  kg per `m^3`.
    .out
      label diameter change `Delta d` =  
      span#dd
      span mm

  script(src='calc.js')
  script(src='app.js')
