mixin field-label(name, label)
  - var label = label || name
  label(for=name) #{label}

mixin field-input(type, name, label)
  .field
    +field-label(name, label)
    input(type=type, id=name, name=name, value=value)
    block

mixin field-text(name, label)
  +field-input('text', name, label)
    block

html
  head
    title Fishing line experiment calculator
    link(rel='stylesheet', href='app.css')
    script(src='lib-3p/ASCIIMathML.js')
    script(src='lib-3p/zepto.min.js')
    script(src='lib-3p/query-string.js')
body
  :md
    # Fishing Line Experiment Calculator
    The source code is freely [available on GitHub.com](https://github.com/dizzib/flx-calc)

    To view this page properly please use a browser that supports
    [MathML](https://www.w3.org/Math/) such as Firefox.
  fieldset
    legend Unstretched line properties
    +field-text('l_s', 'sample length `l_s` = ')
      span m. The length of line used to calculate the line density 
      span (for accuracy this should be at least `l`).
    +field-text('m_s', 'sample mass `m_s` = ')
      span g.
    +field-text('d', 'average diameter `d` = ')
      span mm. Can be precisely measured with a 
      a(href='http://www.physics.smu.edu/~scalise/apparatus/micrometer') micrometer
      span . Regular positions along the line should be measured and the average taken.
    +field-text('nu', 'Poisson ratio `nu` = ')
      span . This determines how much the diameter changes when tension is applied.
  fieldset
    legend Experiment setup
    +field-text('rho_w', 'water density `rho_w` = ')
      span kg per `m^3`. 
      span This is a function of temperature and may need to be determined experimentally.
    +field-text('l', 'pole span `l` = ')
      span m. The distance between the two poles (the depth meters at each end).
    +field-text('l_i', 'line length to indicator `l_i` = ')
      span m. The line length from the anchor to pole A plus the unstretched line length
      span from pole B to an indicator on the line.
  fieldset
    legend Measurements at maximum tension
    +field-text('dl_i', 'line stretch `Delta l_i` = ')
      span m. How far the indicator moves when `T_max` is applied.
    +field-text('T_max', 'line tension `T_max` = ')
      span N

  script(type='text/javascript', src='app.js')
